*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.logo {
    width: 100px;
}
.nav-item {
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: .4s;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #777;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #777;
        transition: .4s;
}
    
.navbar :hover::before {
    width: 100%;
}

.rounded-circle {
    width: 100px;
}

.p1{
    margin: 30px;
    padding: 50px;
    text-align: left;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom:20px;
}
.img-col {
    flex-basis: 50%;
    margin-bottom:20px;
}
.center {
    width: 300px;
    border: dotted 7px bisque;
}

.contact1 {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    left: 14%;
    position: relative;
    float: left;
    margin: 10px;
}
.contact2 {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: small;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    float: left;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#font {
    text-align: center;
    font-size: small;
}
.head {
    text-align: center;
}
.footer {
    text-align: center;
    align-items: center;
    margin-top: 300px;
}
  .my-img{
    animation: rotateImg 5s linear infinite;
  }
  @keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(359deg);
   }
  }

.head2 {
    text-align: center;
    margin-top: 125px;
    padding-top: 30px;   
}

#CV {
    text-align: center;
    margin-top: 120px;
    padding: 30px;
    text-decoration: none;
}
/* project */
#projects :is(.card) {
    width: 18rem;
}