*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.logo {
    width: 100px;
}
.nav-item {
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: .4s;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #777;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #777;
        transition: .4s;
}
    
.navbar :hover::before {
    width: 100%;
}

.rounded-circle {
    width: 100px;
}

.p1{
    margin: 30px;
    padding: 50px;
    text-align: left;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom:20px;
}
.img-col {
    flex-basis: 50%;
    margin-bottom:20px;
}

.center{
    width: 250px;
}
.contact1 {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    left: 14%;
    position: static;
    float: left;
    margin: 10px;
}
.contact2 {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: small;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    float: left;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    size: 7rem;
}
#font {
    text-align: center;
    font-size: small;
}
.head {
    text-align: center;
}
.footer {
    text-align: center;
    align-items: center;
    margin-top: 300px;
}
/* .my-img{
    animation: rotateImg 5s linear infinite;
} */
@keyframes rotateImg{
from {
transform: rotate(0deg);
}
to {
transform: rotate(359deg);
}
}

.head2 {
    text-align: center;
    margin-top: 125px;
    padding-top: 30px;   
}



/* text-circle */

text{
    fill: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 500;
    /* text-transform: uppercase ; */
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 25s linear infinite;
    transform-origin:250px 250px;
}
svg{
    max-width: 80vmin;
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    } 
    from{
    }
    0{
        tr
    }
    25%{
        transform: rotate(45deg);
    }
}
.textCircle{
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1 );
    transform-origin: 250px 250px;
}
svg:hover .textCircle {
    transform: scale(1.2) rotate(90deg);
}


/* contacts page */
#contacty {
    width: 380px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    display: flex;
    top: 50%;
    left: 0%;
    text-align: center;
    align-items: right;
    transform: translate(40%, -50%);
    position: relative;
    margin: 35px;
    margin-top: 230px;
    margin-bottom: -130px;
}
.form {
    margin: 35px;
}
.input-field {
    width: 350px;
    height: 35px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #999;
    border-radius: 14px;
    outline: none;
    text-align: center;
    align-items: center;
}
.textarea-field {
    height: 180px;
    padding-top: 10px;
    align-items: center;
}
.btn {
    border-radius: 30px;
    color: #777;
    margin-top: 8px;
    padding: 10px;
    background-color: bisque;
    padding-top: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .4s;
    margin-bottom: 8px;
}

@media all and (min-width:3git 00px) { 
    body{
        background-color: aliceblue;
    }
}

#education{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    
}
.contact-box{
    margin: 15%;
}
#head1{
    scroll-margin-block: 5.7rem
}
.head4{
    scroll-margin-block: 5.7rem
}
#landing {
    scroll-margin-block: 5.7rem
}
#box1{
    scroll-margin-block: 5.7rem
}
#box3 {
    scroll-margin-block: 5.7rem
}
#box4 {
    scroll-margin-block: 5.7rem
}
#box5 {
    scroll-margin-block: 5.7rem
}
#box6 {
    scroll-margin-block: 5.7rem
}

#center1 {
    width: 250px;
}